.alert-box {
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(243, 77, 66, 0.5);
    align-items: center;
    justify-content: center;
    color: white;
    width: 55vw;
    height: 6vh;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}
.alert-box1 {
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(130, 243, 139, 0.5);
    align-items: center;
    justify-content: center;
    color: white;
    width: 55vw;
    height: 6vh;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}