<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/static/CSS/ForgotPassword.css">
</head>

<body>
  <div class="container">
    <h2>Forgot Password</h2>

    <form  method="post" id="forgotForm">
      <input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <input type="email" name="email" id="email" placeholder="example@gmail.com" required />
      <button type="submit">Send OTP</button>
    </form>

    <form id="otpForm" class="hidden">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <input type="text" id="otp" placeholder="Enter OTP" required />
      <button type="submit">Verify OTP</button>
    </form>

    <p id="resendWrapper" class="hidden">
      Didn't receive OTP?
      <span id="resendBtn" class="resend-link">Resend OTP</span>
    </p>

    <p id="timerText"></p>
    <p id="message"></p>
  </div>

  <script src="/static/JS/ForgotPassword.js" defer></script>
</body>

</html>