<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policies</title>
    <link rel="stylesheet" href="/static/CSS/tnc.css">
    <link rel="stylesheet" href="/static/CSS/header.css">
    <link rel="stylesheet" href="/static/CSS/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,500,0,0&icon_names=swap_horiz" />
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="nav_bar">
        <div class="comp_name">
            <button class="company_name" id="theme-switch">
                Bus Karro
            </button>
        </div>
        <div class="nav_buttons">
            <p class="search_button">
                <a href="{% url 'Home' %}" class="Links">
                    Home
                </a>
                <a href="{% url 'Contact-Us' %}" class="Links">
                    Contact
                </a>
            </p>
        </div>
    </div>

    <div class="container1">
        <div class="c1">
            <div class="c1_head">
                <h1 class="WHY">Privacy Policy</h1>
            </div>
            <div class="text_box">
                <p class="textt">
                    This Privacy Policy explains how Bus Karro we collect, use, share, and protects your personal
                    information when you use our bus reservation system via our website, mobile app, or authorized
                    agents.
                    By accessing or using our services, you agree to the terms outlined in this Privacy Policy.
                </p>
                <div class="WHAT">
                    <p class="textt">
                        <span class="text_head1">1. Information We Collect</span>
                        <br>
                        <br>
                        We collect the following types of personal information to provide and improve our services:
                        <br>1. Personal Details:
                        <br>&#8226; Name
                        <br>&#8226; Age
                        <br>&#8226; Gender
                        <br>&#8226; Email address
                        <br>
                        <br>2. Booking Information:
                        <br>&#8226; Travel dates
                        <br>&#8226; Route details
                        <br>&#8226; Payment details
                        <br>
                        <br>3. Technical Information:
                        <br>&#8226; IP address
                        <br>&#8226; Browser type
                        <br>&#8226; Device information
                        <br>&#8226; Cookies and usage data
                        <br>
                        <br>4. Location Data:
                        <br>&#8226; If you use location-based services, we may collect your geolocation data.
                        <br>
                        <br>
                        <span class="text_head">2. How We Use Your Information</span>
                        <br>
                        <br>
                        We use the collected information for the following purposes:
                        <br>&#8226; Booking and Payment Processing: To confirm reservations, process payments, and send
                        booking confirmations.
                        <br>&#8226; Customer Support: To respond to inquiries, requests, or complaints.
                        <br>&#8226; Notifications and Updates: To inform you about schedule changes, cancellations, or
                        special offers.
                        <br>&#8226; Service Improvement: To enhance our services, website, and app functionality.
                        <br>&#8226; Legal Compliance: To comply with applicable laws and regulations.
                        <br>&#8226; Marketing: To send you promotional materials if you have opted in. You can opt-out
                        anytime.
                        <br>
                        <br>
                        <span class="text_head">3. Sharing Your Information</span>
                        <br>
                        <br>
                        We may share your personal data with:
                        <br>&#8226; Bus Operators and Service Providers: To fulfill your booking and provide services.
                        <br>&#8226; Payment Gateways: To process payments securely.
                        <br>&#8226; Legal Authorities: If required by law or to protect our rights.
                        <br>&#8226; Third-Party Analytics Providers: For analyzing website and app performance.
                        <br>We do not sell or rent your personal data to third parties for marketing purposes.
                        <br>
                        <br>
                        <span class="text_head">4. Data Security</span>
                        <br>
                        <br>
                        We take the security of your personal information seriously and implement appropriate technical
                        and organizational measures to protect it from unauthorized access, alteration, disclosure, or
                        destruction. However, please be aware that no method of internet transmission or electronic
                        storage is completely secure, and we cannot guarantee absolute security.
                        <br>&#8226; encryption: Secure encryption for payment transactions.
                        <br>&#8226; Access Controls: Restricted access to personal data.
                        <br>&#8226; Regular Audits: Periodic security reviews and updates.
                        <br> However, no method of transmission over the Internet is entirely secure. We cannot
                        guarantee absolute security.
                        <br>
                        <br>
                        <span class="text_head">5. Your Rights</span>
                        <br>
                        <br>
                        You have the following rights regarding your personal data:
                        <br>&#8226; Access: Request details of the data we hold about you.
                        <br>&#8226; Correction: Correct inaccurate or incomplete data.
                        <br>&#8226; Deletion: Request deletion of your data (subject to legal obligations).
                        <br>&#8226; Withdraw Consent: Opt-out of marketing communications.
                        <br>&#8226; Data Portability: Request a copy of your data in a portable format.
                        <br>To exercise these rights, contact us at buskarro@gmail.com .
                        <br>
                        <br>
                        <span class="text_head">6. Retention Period</span>
                        <br>
                        <br>
                        We retain your personal data only as long as necessary to fulfill the purposes for which it was
                        collected or as required by law.
                        <br>
                        <br>
                        <span class="text_head">7. Children’s Privacy</span>
                        <br>
                        <br>
                        Our services are not intended for individuals under 18 years of age. We do not knowingly collect
                        data from children. If we become aware that we have collected data from a minor, we will take
                        steps to delete it.
                        <br>
                        <br>
                        <span class="text_head">8. Changes to this Privacy Policy</span>
                        <br>
                        <br>
                        We may update this Privacy Policy periodically. Changes will be effective upon posting on our
                        website. Please review this policy regularly.
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_company_name">
            <h1 class="footer_company_name_text">Bus Karro</h1>
        </div>
        <div class="footer_details">
            <div class="footer_info1">
                <p class="footer_company_topic">
                    <bolder>About</bolder>
                </p>
                <a href="{% url 'About-us' %}" class="links">
                    <p class="links">About us</p>
                </a>
                <a href="{% url 'Term-n-conditions' %}" class="links">
                    <p class="links">Terms and Conditions</p>
                </a>
                <a href="{% url 'Contact-Us' %}" class="links">
                    <p class="links">Contact Us</p>
                </a>
                <a href="{% url 'Home' %}" class="links">
                    <p class="links">Home</p>
                </a>
            </div>
            <div class="footer_into2">
                <p class="footer_topic">
                    <bolder>Info</bolder>
                </p>
                <a href="{% url 'Blog' %}" class="links">
                    <p class="links">Blog</p>
                </a>
                <a href="{% url 'User-Agreement' %}" class="links">
                    <p class="links">User Agreement</p>
                </a>
            </div>
        </div>
    </div>
</body>
<script src="/static/JS/darkmode.js"></script>

</html>