<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Reset Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/CSS/ResetPassowrd.css" />
</head>
<body>
  <div class="container">
    <h2>Set New Password</h2>

    <form id="resetForm">
      <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <input type="password" id="newPassword" placeholder="New Password" required />
      <input type="password" id="confirmPassword" placeholder="Confirm Password" required />

      <ul id="ruleList" class="rules">
        <li id="ruleLength">Minimum 8 characters</li>
        <li id="ruleUpper">At least one uppercase letter</li>
        <li id="ruleNumber">At least one number</li>
        <li id="ruleSymbol">At least one special character</li>
      </ul>

      <button id="submitBtn" disabled>Change Password</button>
    </form>

    <p id="statusMessage"></p>
  </div>

  <script src="/static/JS/ResetPassword.js"></script>
</body>
</html>
